@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

.banner {
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.1);
    display: flex;
    margin: 0 auto;
}

.banner-text {
    width: 708px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: auto;
    margin-left: 240px;
}

.banner-text h2 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.banner-text p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 43px 20px 43px;
    border: none;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    color: white;
}

.banner-img {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 240px;
}

/* Featured section */

.featured {
    width: 1440px;
    margin: 0 auto;
    margin-top: 178px;
}

.featured-text {
    width: 594px;
    margin: 0 auto;
}

.featured-text h3 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.featured-text p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.featured-items {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.featured-item {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#one {
    margin-top: 110px;
}

#two {
    margin-top: 50px;
}

#three {
    margin-top: 66px;
}

.featured-items> :nth-child(1) {
    background: rgba(167, 33, 98, 0.15);
}

.featured-items> :nth-child(2) {
    background: rgba(5, 151, 160, 0.15);
}

.featured-items> :nth-child(3) {
    background: rgba(71, 125, 17, 0.15);
}

.name {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 55px;
    margin-top: 32px;
    margin-bottom: 128px;
}

.name h4 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-line: underline;
}

/* support */
.support {
    width: 1440px;
    height: 320px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 130px;
    border-radius: 8px;
}

.support img {
    margin-bottom: 26.75px;
}

.support h3 {
    color: rgba(39, 39, 39, 0.8);
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
}

/* deal */

.deal {
    width: 1922px;
    height: 620px;
    background: rgba(229, 84, 115, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 128px;
}

.deal-text {
    width: 594px;
    margin: 0 auto;
    margin-left: 395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deal-text h2 {
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

#red {
    color: rgb(229, 84, 115);
}

.deal-text p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

.button {
    text-align: center;
}

.deal-text .button .btn {
    display: inline;
    align-items: center;
    padding: 20px 43px 20px 43px;
    border: none;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    color: white;
}

.deal-img img {
    margin-top: 50px;
    margin-right: 429px;
}

/* instagram */


.instagram {
    width: 1440px;
    margin: 0 auto;
    margin-top: 128px;
}

.instagram-text {
    width: 594px;
    margin: 0 auto;
}

.instagram-text h3 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.instagram-text p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.instagram-items {
    width: 1440px;
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 0 auto;
}

/* subscribe */
.subscribe {
    width: 1440px;
    height: 449px;
    background-image: url(asset/Rectangle\ 9.png);
    margin: 0 auto;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
}

.sub-text {
    text-align: center;
}

.sub-text h2 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

.sub-text p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.sub-box {
    text-align: center;
    display: flex;
    gap: 16px;
}

.sub-box input {
    width: 700px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 18px;
    padding-left: 22px;
    color: rgba(7, 2, 17, 0.6);
}

.sub-box button {
    width: 150px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

/* footer */
.footer {
    width: 1922px;
    height: 449px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(17, 16, 16);
    color:rgb(255, 255, 255);
    margin: 0 auto;
}

.footer-text {
    width: 625px;
}

.footer-text h2 {
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

.footer-text h4 {
    color: rgba(255, 255, 255, 0.9);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

.footer-text p {
    color: rgba(255, 255, 255, 0.4);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}